[submodule "repos/diffusers"]
	path = repos/diffusers
	url = https://github.com/CCRcmcpe/diffusers
[submodule "repos/xformers"]
	path = repos/xformers
	url = https://github.com/facebookresearch/xformers
[submodule "blip_helper"]
	path = blip_helper
	url = https://github.com/crosstyan/blip_helper
