[submodule "repos/diffusers"]
	path = repos/diffusers
	url = https://github.com/CCRcmcpe/diffusers
[submodule "repos/xformers"]
	path = repos/xformers
	url = https://github.com/facebookresearch/xformers
[submodule "repos/DeepDanbooru"]
	path = repos/DeepDanbooru
	url = https://github.com/KichangKim/DeepDanbooru
